# Ignore all
*

# Unignore all with extensions
!*/
!*.*
!Makefile
!LICENSE
!Vagrantfile

.DS_Store
*.out
.vagrant
.Xauthority
*.dSYM/
tmp/
bin/
build/
benchmark-results/
.lsp/
tests/test_wip.nim
*.dylib
callgrind.*
cachegrind.*
scratch*
.aider*

# Test executables
tests/test_*
!tests/test_*.nim
!tests/test_*.sh

*.db

# Nim cache
nimcache/
*.exe

gene/
gene-new/
gene-rust/

ruby/
lua/
wren/
